@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 16px;
}

.container {
    background-color: hsl(0, 0%, 8%);
    width: 98%;
}

.card {
    background-color: hsl(0, 0%, 12%);
    width: 95%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.377);
}

#nav {
    height: 40px;
    position: relative;
}

#menu {
    position: absolute;
    background-color: hsl(0, 0%, 12%);
    width: 100%;
    top: 40px;
    right: 0px;
    display: block;
    flex-direction: column;
    justify-content: left;
    list-style: none;
    gap: 8px;
    height: 0;
    transition: .5s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
}

#nav.active #menu {
    visibility: visible;
}

.link-menu {
    font-size: 14px;
    font-weight: normal;
    color: #00FADF;
    text-align: left;
    display: block;
    padding: 16px 5px;
    border-bottom: 1px solid #00FADF;
}

.link-menu:hover {
    background-color: #00fae12c;
}

#btn-menu {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.437);
    font-weight: bolder;
    border: none;
    cursor: pointer;
    gap: 16px;
}

#btn-menu:hover {
    color: #00FADF;
}

#burger {
    display: block;
    width: 20px;
    border-top: 2px solid currentColor;
}

#burger::after, #burger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#nav.active #burger {
    border-top-color: transparent;
}

#nav.active #burger::after {
    transform: rotate(-135deg);
}

#nav.active #burger::before {
    transform: rotate(135deg);
    top: 7px;
}

.icon-container {
    border-radius: 50%;
    background-color: white;
    width: 23px;
    height: 23px;
}


.icon-frontend {
    width: 23px;
}

.icon {
    padding: 3px;
}

.icon-github {
    color: white;
}

.icon-linkedin {
    width: 20px;
    padding: 4px;
}

.nome {
    color: #00FADF;
    font-size: 24px;
    text-align: center;
    padding: 20px 0px 15px 0px;
}

.place {
    color: white;
    text-align: center;
}

.occupation {
    color: #00FADF;
    text-align: center;
    padding: 20px 0px;
    line-height: 1.5;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    padding-left:  40px;
    padding-right: 40px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
}

.link-container:hover {
    background-color: #00FADF;
}

.link-container:hover a {
    color: hsl(0, 0%, 12%);
}

.link-container:hover .icon-github {
    color: hsl(0, 0%, 12%);
}

.link-container:hover .icon-linkedin {
    color: #00FADF;
}

.link-container:hover .icon {
    color: #00FADF;
}

.link-container:hover .icon-container {
    background-color: hsl(0, 0%, 12%);
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 700;
}

.title-about {
    font-size: 18px;
}

.sobre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 13px;
}

.sobre {
    color: white;
    text-align: justify;
}

.border-bottom {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.pt {
    padding-top: 20px;
}

.texto-sobre {
    border-left: 2px solid #00FADF;
    padding-left: 10px;
}

@media screen and (min-width: 500px) {
    .container {
        width: 500px;
    }

    .card {
        height: 468px;
        overflow: auto;
    }

    .card::-webkit-scrollbar {
        width: 5px;
    }

    .link-container {
        gap: 80px;
        padding-left: 85px;
    }

    .sobre-container {
        font-size: 16px;
    }

}

